<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Invoice</title>
  </head>
  <body>
    <!-- <style> -->
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">

            <table align="center" class="container float-center"><tbody><tr><td>

              <br>

              <h2>Payment Confirmation</h2>
              <p>This email confirms your recent payment of [%= display_money invoice.gross_amount %]. Here are the details of your payment:</p>
              <br><br><br>


              <div class="invoice">
                <table class="row"><tbody><tr>
                  <th class="small-6 large-4 columns first"><table><tr><th>
                    <img alt="Doofinder" src="http://www.doofinder.com/media/external/doofinder-logo.png">

                  </th></tr></table></th>
                  <th class="small-6 large-4 columns"><table><tr><th></th></tr></table></th>
                  <th class="small-12 large-4 columns last"><table><tr><th>
                    <div class="company company--right">
                      <p class="text-bold">
                        [%= settings.company_name %]
                        [% if settings.company_vat_id %]
                          <br>[%= settings.company_vat_id %]
                        [% end %]
                      </p>
                      <p>[%= format_address settings.company_address %]</p>
                      <p>[%= settings.company_email %]<br>[%= settings.company_url %]</p>
                    </div>
                  </th></tr></table></th>
                </tr></tbody></table>

                <table class="row"><tbody><tr>
                  <th class="small-12 large-12 columns first last"><table><tr><th>
                    <h1>Invoice</h1>
                  </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>

                <table class="row"><tbody><tr>
                  <th class="small-12 large-6 columns first"><table><tr><th>
                    <p class="text-muted">Billed to:</p>
                    <div class="company customer">
                      [% if invoice.name? %]
                        <p class="company__name">[%= invoice.name %]</p>
                      [% end %]
                      [% if invoice.identification? %]
                        <p class="company__id">[%= invoice.identification %]</p>
                      [% end %]
                      [% if invoice.invoicing_address? || invoice.contact_person? %]
                        <p class="company__address">
                          [% if invoice.contact_person? %]
                            [%= invoice.contact_person %]<br>
                          [% end %]
                          [% if invoice.invoicing_address? %]
                            [%= format_address invoice.invoicing_address %]
                          [% end %]
                        </p>
                      [% end %]
                      [% if invoice.email? %]
                        <p>[%= invoice.email %]</p>
                      [% end %]
                    </div>
                  </th></tr></table></th>
                  <th class="small-12 large-6 columns last"><table><tr><th>
                    <table cellspacing="0" class="table info">
                      <tbody>
                        <tr>
                          <th>Invoice Number:</th>
                          <td class="total">[%= invoice %]</td>
                        </tr>
                        <tr>
                          <th>Billed:</th>
                          <td class="total">[%= invoice.issue_date %]</td>
                        </tr>
                        <tr>
                          <th>Due on:</th>
                          <td class="total">[%= invoice.due_date %]</td>
                        </tr>
                      </tbody>
                    </table>
                  </th></tr></table></th>
                </tr></tbody></table>

                <br>

                <table class="row"><tbody><tr>
                  <th class="small-12 large-12 columns first last"><table><tr><th>
                    <table class="table items" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Description</th>
                          <th class="total">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        [% @invoice.items.each do |item| %]
                          <tr>
                            <td>[%= item.description %]</td>
                            <td class="total">[%= display_money item.base_amount %]</td>
                          </tr>
                        [% end %]
                      </tbody>
                    </table>
                  </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>

                <br>

                <table class="row"><tbody><tr>
                  <th class="small-12 large-6 columns first"><table><tr><th></th></tr></table></th>
                  <th class="small-12 large-6 columns last"><table><tr><th>
                    <table class="table totals" cellspacing="0">
                      <tbody>
                        [% if invoice.discount_amount != 0 %]
                          <tr>
                            <th>Discount</th>
                            <td class="total">[%= display_money invoice.discount_amount %]</td>
                          </tr>
                        [% end %]
                        <tr>
                          <th>Subtotal</th>
                          <td class="total">[%= display_money invoice.net_amount %]</td>
                        </tr>
                        [% invoice.taxes.each do |tax, value| %]
                          <tr>
                            <th>[%= tax %]</th>
                            <td class="total">[%= display_money value %]</td>
                          </tr>
                        [% end %]
                        <tr class="grand-total">
                          <th>Total</th>
                          <td class="total">[%= display_money invoice.gross_amount %]</td>
                        </tr>
                      </tbody>
                    </table>
                  </th></tr></table></th>
                </tr></tbody></table>

                [% if invoice.terms? %]
                  <br>
                  <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last"><table><tr><th>
                      <div class="notes">
                        <p class="notes__title">Terms &amp; Conditions</p>
                        <div class="notes__content">
                          [%= invoice.terms %]
                        </div>
                      </div>
                    </th>
<th class="expander"></th></tr></table></th>
                  </tr></tbody></table>
                [% end %]

              </div>
            </td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
